<div class="grid-wrapper">
  <div class="grid grid-1-2">
    <div class="inner-block-padr">
      <p>Half width - 1/2</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, quibusdam, fugiat, blanditiis enim consequatur repellat nisi reiciendis hic voluptatibus optio magni doloribus velit eveniet quidem iure cumque sequi dignissimos ab?</p>
    </div>
  </div>
  <div class="grid grid-1-2">
    <div class="inner-block-padr">
      <p>Half width - 1/2</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, quibusdam, fugiat, blanditiis enim consequatur repellat nisi reiciendis hic voluptatibus optio magni doloribus velit eveniet quidem iure cumque sequi dignissimos ab?</p>
    </div>
  </div>
</div>
<div class="grid-wrapper">
  <div class="grid grid-1-3">
    <div class="inner-block-padr">
      <p>Third width - 1/3</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, quibusdam, fugiat, blanditiis enim consequatur repellat nisi reiciendis hic voluptatibus optio magni doloribus velit eveniet quidem iure cumque sequi dignissimos ab?</p>
    </div>
  </div>
  <div class="grid grid-1-3">
    <div class="inner-block-padr">
      <p>Third width - 1/3</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, quibusdam, fugiat, blanditiis enim consequatur repellat nisi reiciendis hic voluptatibus optio magni doloribus velit eveniet quidem iure cumque sequi dignissimos ab?</p>
    </div>
  </div>
  <div class="grid grid-1-3">
    <div class="inner-block-padr">
      <p>Third width - 1/3</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, quibusdam, fugiat, blanditiis enim consequatur repellat nisi reiciendis hic voluptatibus optio magni doloribus velit eveniet quidem iure cumque sequi dignissimos ab?</p>
    </div>
  </div>
</div>
<div class="grid-wrapper">
  <div class="grid grid-2-3">
    <div class="inner-block-padr">
      <p>Two third width - 2/3</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, quibusdam, fugiat, blanditiis enim consequatur repellat nisi reiciendis hic voluptatibus optio magni doloribus velit eveniet quidem iure cumque sequi dignissimos ab?</p>
    </div>
  </div>
  <div class="grid grid-1-3">
    <div class="inner-block-padr">
      <p>Third width - 1/3</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, quibusdam, fugiat, blanditiis enim consequatur repellat nisi reiciendis hic voluptatibus optio magni doloribus velit eveniet quidem iure cumque sequi dignissimos ab?</p>
    </div>
  </div>
</div>
<div class="grid-wrapper">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <p>Quarter width - 1/4</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, quibusdam, fugiat, blanditiis enim consequatur repellat nisi reiciendis hic voluptatibus optio magni doloribus velit eveniet quidem iure cumque sequi dignissimos ab?</p>
    </div>
  </div>
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <p>Quarter width - 1/4</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, quibusdam, fugiat, blanditiis enim consequatur repellat nisi reiciendis hic voluptatibus optio magni doloribus velit eveniet quidem iure cumque sequi dignissimos ab?</p>
    </div>
  </div>
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <p>Quarter width - 1/4</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, quibusdam, fugiat, blanditiis enim consequatur repellat nisi reiciendis hic voluptatibus optio magni doloribus velit eveniet quidem iure cumque sequi dignissimos ab?</p>
    </div>
  </div>
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <p>Quarter width - 1/4</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, quibusdam, fugiat, blanditiis enim consequatur repellat nisi reiciendis hic voluptatibus optio magni doloribus velit eveniet quidem iure cumque sequi dignissimos ab?</p>
    </div>
  </div>
</div>
<div class="grid-wrapper">
  <div class="grid grid-3-4">
    <div class="inner-block-padr">
      <p>Three quarter width - 1/4</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, quibusdam, fugiat, blanditiis enim consequatur repellat nisi reiciendis hic voluptatibus optio magni doloribus velit eveniet quidem iure cumque sequi dignissimos ab?</p>
    </div>
  </div>
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <p>Quarter width - 1/4</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, quibusdam, fugiat, blanditiis enim consequatur repellat nisi reiciendis hic voluptatibus optio magni doloribus velit eveniet quidem iure cumque sequi dignissimos ab?</p>
    </div>
  </div>
</div>