<div class="form-group">
  <button class="button">Primary</button>
  <button class="button-link">Secondary</button>
  <div id="get-started" class="get-started">
    <a href="#" rel="" data-transaction-slug="" class="button">Start now</a>
      <span class="destination"> to do something</span>
  </div>
</div>
<p>
  <a href="#">Normal link</a>
</p>
<p>
  <a href="www.google.com" rel="external">External link</a>
</p>