
<h1 class="heading-xlarge">Heading 1 - X Large</h1>
<h2 class="heading-large">Heading 2 - Large</h2>
<h3 class="heading-medium">Heading 3 - Medium</h3>
<h4 class="heading-small">Heading 4 - Small</h4>
<p class="lead">Lead text - 24px</p>
<p class="text">
  Normal copy text is 19px and has a maximum width. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, quibusdam, fugiat, blanditiis enim consequatur repellat nisi reiciendis hic voluptatibus optio magni doloribus velit eveniet quidem iure cumque sequi dignissimos ab?
</p>
<p class="copy-16">Smaller text can be used and will be 16px</p>