<footer class="gov-border" role="contentinfo">
  <div class="footer__wrapper">
    <div class="footer__meta">
      <ul class="footer__nav" role="navigation">
        <li class="small-btm-margin">
          <div>
            <a class="footer__link bold-medium" href="/fasttrack/helpdesk.html">Contact us</a>
            <a class="footer__link bold-medium" href="#" rel="external">Give feedback</a>
          </div>
        </li>
        <li class="footer__link"><a href="/fasttrack/privacy.html">Privacy and cookies</a></li>
        <li class="footer__link"><a href="/fasttrack/terms.html">Terms and conditions</a></li>
        <li class="footer__link">Built by <a href="https://www.gov.uk/government/organisations/civil-service-resourcing" target="_blank">Civil Service Resourcing</a></li>
        <li class="footer__ogl hide-print"><a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3" class="ir ogl-logo">OGL</a>All content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Open Government Licence v3.0</a>, except where otherwise stated</li>
      </ul>
      <a class="footer__copyright" href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm" target="_blank">
        <img src="{{assets}}/img/govuk-crest-2x.png" width="125" height="102" alt="Crown copyright logo">
        <p>&copy; Crown copyright</p>
      </a>
    </div>
  </div>
</footer>