<!-- <div id="global-cookie-message" class="cookie-banner">
  <div class="content-container">
      <span class="copy-16">GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></span>
  </div>
</div> -->
<div class="skiplink-container header-skiplink">
  <div>
    <a href="#main" class="skiplink">Skip to main content</a>
  </div>
</div>
<header role="banner" class="global-header">
  <div class="global-header__wrapper">
    <div class="global-header__logo">
      <a href="http://gov.uk" title="Go to the GOV.UK homepage" class="govuk-logo">
        <img src="{{assets}}/img/gov.uk_logotype_crown.png" alt="Crown">GOV.UK
      </a>
    </div>
    <div class="global-header__nav">
      <div class="global-header__title beta"><a href="profile-home.html">Apply for a Civil Service apprenticeship</a></div>
    </div>
  </div>
</header>