---
pageTitle: CSR Patterns
---

<h1 class="heading-xlarge">{{ pageTitle }}</h1>
<h2 class="heading-large">Choose a service</h2>
<ul class="form-group">
  <li>
    <a href="fasttrack/index.html">Apply for a Civil Service apprenticeship</a>
  </li>
  <li>
    <a href="admin/signin.html">Service administration</a>
  </li>
</ul>