---
pageTitle: Pattern library
---

<div class="hgroup">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
  <h2 class="subtitle">UI Components and states</h2>
</div>

<ol class="list-number list-flowing">
  <li><a href="#buttons">Buttons/Links</a></li>
  <li><a href="#formControls">Form controls</a></li>
  <li><a href="#errors">Errors/validation</a></li>
  <li><a href="#radioCheckboxes">Radios and checkboxes</a></li>
  <li><a href="#navigation">Navigation</a></li>
  <li><a href="#typography">Typography</a></li>
  <li><a href="#gridSystem">Grid system</a></li>
  <li><a href="#tables">Tabular data</a></li>
</ol>

<fieldset class="fieldset-with-border">
  <legend id="errors" class="heading-large">Errors/validation</legend>
  <p class="text">Click the following button and you'll get an error in the form above</p>
  <a id="errorButton" href="#formControls" class="button">Give me errors</a>

  <details>
    <summary role="button">HTML examples</summary>
    <xmp class="panel-indent prettyprint">
      <div class="form-group toggle-content validation-summary-errors">
        <h3 class="heading-small">You have the following errors</h3>
        <ul>
          <li><a href="#error1">You haven't filled in this input</a></li>
          <li><a href="#error2">You haven't entered a date of birth</a></li>
        </ul>
      </div>

      <div class="form-group input-validation-error">
        <label for="normal-label" class="form-label">Label for input</label>
        <input type="text" id="normal-label" class="form-control">
      </div>
    </xmp>
  </details>
</fieldset>

<fieldset class="fieldset-with-border">
  <legend id="radioCheckboxes" class="heading-large">Radios and checkboxes</legend>


  <div class="clearfix"></div>

  <details>
    <summary role="button">HTML examples</summary>
    <xmp class="panel-indent prettyprint">
      <div class="form-group inline">
        <p class="form-label">Chunky radios inline</p>
        <label for="pref-email" class="block-label">
          <input name="preference" type="radio" id="pref-email">Email
        </label>
        <label for="pref-tel" class="block-label">
          <input name="preference" type="radio" id="pref-tel">Telephone
        </label>
        <label for="pref-post" class="block-label">
          <input name="preference" type="radio" id="pref-post">Post
        </label>
      </div>

      <p>Chunky checkboxes</p>
      <div class="form-group">
        <label for="weekday1" class="block-label"><input id="weekday1" type="checkbox">Monday</label>
        <label for="weekday2" class="block-label"><input id="weekday2" type="checkbox">Tuesday</label>
        <label for="weekday3" class="block-label"><input id="weekday3" type="checkbox">Wednesday</label>
        <label for="weekday4" class="block-label"><input id="weekday4" type="checkbox">Thursday</label>
        <label for="weekday5" class="block-label"><input id="weekday5" type="checkbox">Friday</label>
      </div>
    </xmp>
  </details>
</fieldset>

<fieldset class="fieldset-with-border">
  <legend id="navigation" class="heading-large">Navigation</legend>
<!--   <h3 class="heading-medium">Breadcrumbs</h3>
  <nav role="navigation" class="breadcrumbs">
    <ul>
      <li class="breadcrumbs__item">
        <a href="#">Home</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#">Somewhere</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#">Somewhere else</a>
      </li>
    </ul>
  </nav> -->
  <br>

  <h3 class="heading-medium">Progress indicator</h3>
  <nav class="progress-indicator progress-indicator-horizontal">
    <ol aria-label="Progress Steps">
      <li class="active">
        <a href="#">Step 1</a>
      </li>
      <li>
        <a href="#">Step 2</a>
      </li>
      <li>
        <a href="#">Step 3</a>
      </li>
      <li>
        <a href="#">Step 4</a>
      </li>
      <li>
        <a href="#">Preview &amp; Submit</a>
      </li>
    </ol>
  </nav>
  <br>

  <div class="text">
    <h3 class="heading-medium">Bottom of page navigation</h3>
    <div class="page-navigation">
      <a href="#" class="page-navigation__btn previous">
        <i class="arrow-button fa fa-angle-left"></i>
        <span class="description">Previous <span class="hide-mob">page</span></span>
        <span class="counter">1 of 6</span>
      </a>
      <a href="#" class="page-navigation__btn next">
        <i class="arrow-button fa fa-angle-right"></i>
        <span class="description">Next <span class="hide-mob">page</span></span>
        <span class="counter">2 of 6</span>
      </a>
    </div>
  </div>

  <details>
    <summary role="button">HTML examples</summary>
    <xmp class="panel-indent prettyprint">

      <br>

      <h3 class="heading-medium">Progress indicator</h3>
      <nav class="progress-indicator progress-indicator-horizontal">
        <ol aria-label="Progress Steps">
          <li class="active">
            <a href="#">Step 1</a>
          </li>
          <li>
            <a href="#">Step 2</a>
          </li>
          <li>
            <a href="#">Step 3</a>
          </li>
          <li>
            <a href="#">Step 4</a>
          </li>
          <li>
            <a href="#">Preview &amp; Submit</a>
          </li>
        </ol>
      </nav>
      <br>

      <div class="text">
        <h3 class="heading-medium">Bottom of page navigation</h3>
        <div class="page-navigation">
          <a href="#" class="page-navigation__btn previous">
            <i class="arrow-button fa fa-angle-left"></i>
            <span class="description">Previous <span class="hide-mob">page</span></span>
            <span class="counter">1 of 6</span>
          </a>
          <a href="#" class="page-navigation__btn next">
            <i class="arrow-button fa fa-angle-right"></i>
            <span class="description">Next <span class="hide-mob">page</span></span>
            <span class="counter">2 of 6</span>
          </a>
        </div>
      </div>

    </xmp>
  </details>
</fieldset>



<fieldset class="fieldset-with-border">
  <legend id="gridSystem" class="heading-large">Grid system</legend>


  <details>
    <summary role="button">HTML examples</summary>
    <xmp class="panel-indent prettyprint">
      <div class="grid-wrapper">
        <div class="grid grid-1-2">
          <div class="inner-block-padr">
            <p>Half width - 1/2</p>
          </div>
        </div>
        <div class="grid grid-1-2">
          <div class="inner-block-padr">
            <p>Half width - 1/2</p>
          </div>
        </div>
      </div>

      <div class="grid-wrapper">
        <div class="grid grid-1-3">
          <div class="inner-block-padr">
            <p>Third width - 1/3</p>
          </div>
        </div>
        <div class="grid grid-1-3">
          <div class="inner-block-padr">
            <p>Third width - 1/3</p>
          </div>
        </div>
        <div class="grid grid-1-3">
          <div class="inner-block-padr">
            <p>Third width - 1/3</p>
          </div>
        </div>
      </div>

      <div class="grid-wrapper">
        <div class="grid grid-2-3">
          <div class="inner-block-padr">
            <p>Two third width - 2/3</p>
          </div>
        </div>
        <div class="grid grid-1-3">
          <div class="inner-block-padr">
            <p>Third width - 1/3</p>
          </div>
        </div>
      </div>

      <div class="grid-wrapper">
        <div class="grid grid-1-4">
          <div class="inner-block-padr">
            <p>Quarter width - 1/4</p>
          </div>
        </div>
        <div class="grid grid-1-4">
          <div class="inner-block-padr">
            <p>Quarter width - 1/4</p>
          </div>
        </div>
        <div class="grid grid-1-4">
          <div class="inner-block-padr">
            <p>Quarter width - 1/4</p>
          </div>
        </div>
        <div class="grid grid-1-4">
          <div class="inner-block-padr">
            <p>Quarter width - 1/4</p>
          </div>
        </div>
      </div>

      <div class="grid-wrapper">
        <div class="grid grid-3-4">
          <div class="inner-block-padr">
            <p>Three quarter width - 1/4</p>
          </div>
        </div>
        <div class="grid grid-1-4">
          <div class="inner-block-padr">
            <p>Quarter width - 1/4</p>
          </div>
        </div>
      </div>
    </xmp>
  </details>
</fieldset>
