// Buttons
// ==========================================================================

.button {
  @include button ($button-colour);
  font-family: inherit;
  margin: 0 $gutter-half $gutter-half 0;
  text-align: center;
  width: 100%;
  @include media(tablet) {
    width: auto;
  }
  @media print {
    display: none !important;
  }
}

.button-with-hint {
  margin-bottom: 0;
}

// Link style buttons
.button-link {
  @include core-19;
  background: none;
  border: none;
  color: $link-colour;
  cursor: pointer;
  display: inline-block;
  line-height: 1.4;
  margin: 0 $gutter-half $gutter-half 0;
  padding: 7px 10px 5px 0;
  text-decoration: underline;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  .inline-button & {
    margin-bottom: 0;
  }
}
.button-link:hover {
  color: $link-hover-colour;
}
.button-link:focus {
  outline: 3px solid $yellow;
}

// Start now buttons
.get-started {
  .button {
    background: $button-colour url(../img/icon-pointer.png) 100% 50% no-repeat;
    background-size: 30px 19px;
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 0.66667;
    margin-bottom: 0;
    padding: 14px 41px 10px 16px;
    text-transform: none;
    @include device-pixel-ratio(2) {
      background-image: url(../img/icon-pointer-2x.png);
    }
    @media (max-width: 640px) {
      font-size: 20px;
    }
  }
  .button:hover {
    background-color: $green;
  }
  .button:focus {
    outline: 3px solid $yellow;
  }
  .destination {
    @include core-14;
    color: #2e3133;
    display: block;
    margin-top: 7px;
    max-width: 182px;
  }
}
