//--- SVG Map

.svg-map {
  max-width: 100%;
  .region-container {
    cursor: pointer;
    position: relative;
    &:hover, &.hovering {
      polygon, path {
        fill: $link-hover-colour;
      }
    }
    &.selected-region {
      polygon, path {
        fill: $govuk-blue;
      }
    }
  }
}

.svg-map-container {
  height: 0;
  padding-bottom: 161.03%;
  position: relative;
  .svg-map {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
  }
}

/* Back Pulse */
@-webkit-keyframes hvr-back-pulse {
  50% {
    fill: rgba($link-hover-colour, 0.75);
  }
}

@keyframes hvr-back-pulse {
  50% {
    fill: rgba($link-hover-colour, 0.75);
  }
}

.hvr-back-pulse path, .hvr-back-pulse polygon {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  fill: $link-hover-colour;
  color: white;
}

.map-legend-container {
  position: relative;
  padding-bottom: 50px;
}

.map-legend {
  background: $white;
  background: rgba($white, 0.9);
  border: 2px solid $grey-3;
  display: none;
  padding: $gutter-half;
  position: absolute;
  top: 0; right: $gutter;
  z-index: 2000;
  @media screen and (max-width: 640px) {
    right: 0;
  }
}

.map-control {
  display: block;
  height: 50px;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}

.map-region {
  color: $black;
  display: none;
  opacity: 1;
  position: absolute;
  pointer-events: none;
  text-decoration: none;
  width: 100%; height: 100%;
  z-index: 1000;
  .region-city {
    display: block;
    padding-left: 1.2em;
    position: absolute;
    &:before {
      background: $pink;
      border-radius: 50%;
      content: '';
      display: inline-block;
      position: absolute;
      top: 2px; left: 0;
      width: 11px; height: 11px;
    }
  }
}

[data-region="Scotland"] {
  width: 55.98%; //323px
  height: 46.63%; //477px
  top: 0; left: 0;
}

[data-region="North-east"] {
  width: 19.24%; //111px
  height: 15.84%; //162px
  top: 33.72%; //345px
  left: 46.1%; //266px
}

[data-region="North-west"] {
  width: 19.76%; //114px
  height: 24.93%; //255px
  top: 40.96%; //419px
  left: 34.66%; //200px
}

[data-region="Yorkshire-Humberside"] {
  width: 33.45%; //193px
  height: 16.13%; //165px
  top: 46.63%; //477px
  left: 46.97%; //271px
}

[data-region="Midlands"] {
  width: 45.23%; //261px
  height: 20.72%; //212px
  top: 57.67%; //590px
  left: 38.3%; //221px
}

[data-region="Wales"] {
  width: 38.13%; //220px
  height: 24.83%; //254px
  top: 59.63%; //610px
  left: 10.23%; //59px
}

[data-region="East"] {
  width: 31.2%; //180px
  height: 17.6%; //180px
  top: 65.59%; //671px
  left: 69.32%; //401px
}

[data-region="South-east"] {
  width: 44.19%; //255px
  height: 17.4%; //178px
  top: 74.98%; //767px
  left: 53.9%; //311px
}

[data-region="South-west"] {
  width: 55.46%; //320px
  height: 22.97%; //235px
  top: 76.25%; //78px
  left: 4.85%; //28px
}

[data-region="Wales"] {
  width: 38.13%; //220px
  height: 24.83%; //254px
  top: 59.63%; //610px
  left: 10.23%; //59px
}

#city-glasgow {
  left: 42%; top: 65%;
}

#city-edinburgh {
  left: 65%; top: 67%;
}

#city-newcastle, #city-washington {
  right: 40%; top: 20%;
}

#city-darlington {
  right: 35%; top: 45%;
}

#city-liverpool {
 left: 20%; bottom: 30%;
}

#city-manchester {
  left: 50%; bottom: 35%;
}

#city-preston {
  left: 35%; bottom: 50%;
}

#city-leeds {
  left: 30%; top: 25%;
}

#city-sheffield {
  left: 35%; top: 45%;
}

#city-cardiff {
  left: 70%; bottom: 22%;
}

#city-swansea {
  left: 40%; bottom: 25%;
}

#city-birmingham {
  left: 30%; top: 50%;
}

#city-nottingham {
  left: 40%; top: 30%;
}

#city-wolverhampton, #city-telford {
  left: 20%; top: 40%;
}

#city-coventry {
  left: 45%; top: 60%;
}

#city-miltonkeynes {
  left: 10%; top: 45%;
}

#city-bedford {
  left: 30%; top: 35%;
}

#city-hertford {
  left: 20%; bottom: 35%;
}

#city-london {
  left: 40%; top: 40%;
}

#city-reading {
  left: 25%; top: 45%;
}

#city-bristol {
  right: 30%; top: 25%;
}

#city-shrivenham {
  right: 15%; top: 20%;
}


