// Border, background etc classes

.gov-border {
  border-top: 10px solid $govuk-blue;
  @media print {
    border: none !important;
  }
  &.grid {
    padding-top: $gutter-half;
  }
}

@media print {
  .hide-print {
    display: none !important;
  }
  .nobreak-print {
    page-break-inside: avoid !important;
  }
  .show-print {
    display: block !important;
  }
}

.section-border {
  border-bottom: 1px solid $border-colour;
}

.float-right-wrap {
  clear: both;
  float: left;
  width: 100%;
}

.no-margins {
  margin: 0;
}

.no-right-margin {
  margin-right: 0 !important;
}

.small-right-margin {
  margin-right: .3em;
}

.no-left-margin {
  margin-left: 0 !important;
}

.no-btm-margin {
  margin-bottom: 0 !important;
}

.small-btm-margin {
  margin-bottom: 5px;
}

.med-btm-margin {
  margin-bottom: 10px;
}

.small-top-padding {
  padding-top: 5px;
}

.para-btm-margin {
  margin-bottom: $gutter-half;
  @include media(tablet) {
    margin-bottom: $gutter;
  }
}

.inl-block {
	display: inline-block;
}

.inl-block-fix {
  display: inline-block;
  margin-right: -4px;
}

.vert-align-top {
  vertical-align: top !important;
}

.fa {
  margin-right: .3em; /* Icon margin is relative to font size */
}

.icon-onright {
  margin-left: .3em;
}

.disp-block {
  display: block;
}

.inline-float {
  clear: none;
  float: left;
}

.prewrap {
  white-space: pre-wrap;
}

.no-underline {
  text-decoration: none !important;
}

.disabled, .disabled > *{
  opacity: .5;
  pointer-events: none;
}

.fixedsticky {
  top: 23px;
}

.sticky {
  @include media(tablet) {
    position: fixed;
    width: 30%;
    max-width: 320px;
  }

  @media screen and (max-height: 769px) {
    max-height: 660px;
    overflow-y: auto;
  }
}

.no-geolocation {
  .geolocater {
    display: none;
  }
}

.show-ie8 {
  display: none !important;
  visibility: hidden !important;
  .lt-ie9 & {
    display: block !important;
    visibility: visible !important;
  }
}

