.nav-menu {
  @include core-16;
}

.nav-menu__trigger {
  color: $white;
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px 0;
  text-decoration: none;
  &:hover {
    color: white;
  }
  &:after {
    content: " \25BC";
    display: inline-block;
    font-size: 10px;
    height: 10px;
    padding-left: 5px;
    vertical-align: middle;
  }
  &.triggered {
    &:after {
      content: " \25B2";
    }
  }
}

.nav-menu__items {
  list-style: none;
  padding-left: 0;
  li {
    display: block;
    margin-bottom: 0;
    a {
      color: $white;
      display: block;
      padding: 5px 10px 5px 0;
      text-decoration: none;
      &:hover {
        color: $grey-2;
        text-decoration: underline;
      }
    }
  }
}

.page-navigation {
  padding-top: 10px;
  .description {
    display: block;
  }
  .counter {
    display: block;
    font-size: 14px;
  }
  .hide-mob {
    @media (max-width: 640px) {
      display: none;
    }
  }
}

.page-navigation__btn {
  display: inline-block;
  font-size: 1em;
  margin-right: -4px; /*Inline block pixel fix*/
  overflow: hidden;
  padding: 1.2em 0.6em;
  text-decoration: none;
  vertical-align: top;
  width: 50%;
  .arrow-button {
    color: $purple;
    float: left;
    font-size: 3.5em;
    margin-right: 10px;
    margin-top: -0.2em;
  }
  &.previous {
    text-align: left;
  }
  &.next {
    text-align: right;
    .arrow-button {
      float: right;
      margin-left: 10px;
      margin-right: 0;
    }
  }
  &:hover {
    text-decoration: underline;
    .arrow-button {
      color: $link-hover-colour;
    }
  }
  &:active, &:focus {
    background-color: $grey-4;
  }
}

.block-link {
  background: $grey-3;
  border: 1px solid $grey-3;
  color: $black;
  cursor: pointer; // Encourage clicking on block labels
  display: block;
  margin-bottom: $gutter-half;
  padding: 20px $gutter-half;
  text-decoration: none;
  &:hover {
    border-color: $black;
    color: $black;
  }
  &.active {
    background: $white;
    border-color: $black;
  }
}

.tabbed-tab {
  border: 1px solid transparent;
  border-bottom: 1px solid $grey-2;
  display: inline-block;
  margin-bottom: -1px;
  margin-right: 1px;
  padding: $gutter-half 10px;
  &.active {
    background: $white;
    border-color: $grey-2;
    border-bottom-color: $white;
    color: $black;
    text-decoration: none;
    &:hover {
      color: inherit;
      cursor: default;
      text-decoration: none;
    }
  }
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    // background: inherit;
    outline: none;
  }
}

.tabbed-content {
  border: 1px solid $grey-2;
  // border-bottom: 0;
  // border-right: 0;
  // border-left: 0;
  display: none;
  margin-bottom: $gutter-half;
  padding: $gutter 10px 0;
  &.active {
    display: block;
  }
}

.tabbed-element {
  display: none;
  &.active {
    display: inline-block;
  }
}

