.panel-ie {
  display: none;
  font-size: 19px;
  max-width: 1020px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  img {
    margin-right: 20px;
  }
  .lt-ie9 & {
    display: block;
  }
  .message-hidden & {
    display: none;
  }
}

.panel-indent {
  @extend %clearfix;
  border-left: 5px solid $grey-3;
  clear: both;
  margin: 0 0 $gutter;
  padding: 0 15px;
  @include media(tablet) {
    padding: 10px 15px 10px 30px;
  }
  p, ul {
    margin-bottom: 10px;
  }
  .med-btm-margin {
    margin-bottom: 10px;
  }
}

%message-panel {
  @extend %clearfix;
  background: $success-background;
  border-left: 3px solid $success-colour;
  box-sizing: content-box;
  margin-bottom: $gutter;
  margin-left: -15px;
  margin-right: -15px;
  padding: $gutter-half $gutter-half $gutter $gutter-half;
  ul {
    margin-top: 10px;
  }
  li, p {
    @include core-16;
  }
  p {
    margin-top: $gutter-half;
    margin-bottom: 5px;
  }
  .heading-small {
    color: $success-colour;
    margin-top: $gutter-half;
  }
}

.panel-success {
  @extend %message-panel;
  background: $success-background;
  border-color: $success-colour;
  .heading-small {
    color: $success-colour;
  }
  p:first-child:before {
    content: "\f00c";
    display: inline-block;
    font-family: FontAwesome;
    margin-right: 8px;
  }
  @include media(tablet) {
    margin-left: -18px;
    margin-right: 0;
  }
  @media print {
    display: none !important;
  }
}

.panel-warning {
  @extend %message-panel;
  background: $warning-background;
  border-color: $warning-colour;
  .heading-small {
    color: $warning-colour;
  }
  @include media(tablet) {
    margin-left: -18px;
    margin-right: 0;
  }
  @media print {
    display: none !important;
  }
}

.panel-danger {
  @extend %message-panel;
  background: $error-background;
  border-color: $error-colour;
  .heading-small {
    color: $error-colour;
  }
  @include media(tablet) {
    margin-left: -18px;
    margin-right: 0;
  }
  &.fieldset-danger {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  @media print {
    display: none !important;
  }
}

.panel-info {
  @extend %message-panel;
  background: $info-background;
  border-color: $info-colour;
  .heading-small {
    color: $info-colour;
  }
  @include media(tablet) {
    margin-left: -18px;
    margin-right: 0;
  }
  @media print {
    display: none !important;
  }
}

.fixed-info {
  background: $info-background;
  border-left: 3px solid $info-colour;
  position: fixed;
  bottom: 0; right: 0;
  padding: 10px $gutter;
  text-align: center;
  width: 100%;
  p {
    @include core-16;
    margin: 0; padding: 0;
  }
  @include media(tablet) {
    padding-top: $gutter-half;
    padding-bottom: $gutter-half;
    width: auto;
  }
}

.question-panel {
  padding: $gutter-half;
  .failed-text, .passed-text {
    display: none;
  }
  &.failed-security {
    background-color: $error-background;
    outline: 2px solid $error-colour;
    .failed-text {
      color: $error-colour;
      display: block;
    }
  }
  &.passed-security {
    background-color: $success-background;
    outline: 2px solid $success-colour;
    .passed-text {
      color: $success-colour;
      display: block;
    }
  }
}

.scrolling-panel {
  overflow-y: auto;
  // -webkit-overflow-scrolling: auto;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: .5em;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color: rgba($grey-1, 0.5);
  }
}

.max-height-15 {
  max-height: 19em; /* 304px */
}

.max-height-6ish {
  max-height: 11em;
  @media (min-height: 681px) {
    max-height: 20em;
  }
  @media (min-height: 781px) {
    max-height: 31em;
  }
}

// Show & hide links
details {
  margin-bottom: $gutter;
}

details,
summary {
  display: block;
  // max-width: 30em;
}

details summary {
  @extend .fake-link;
  @include core-19;
  margin-bottom: $gutter-half;
}

details summary:focus {
  outline: 3px solid $yellow;
}

// Styles for browsers that don't yet natively support details/summary
.no-details details p,
.no-details details .detail-content,
.no-details details .detail-content details .detail-content {
  display: none;
  @media print {
    display: block;
  }
}
.no-details details > summary:before,
.no-details details .detail-content details>summary:before {
  content: '► ';
  font-size: 16px;
  float: left;
  margin-top: 1px;
  margin-right: -1px;
  width: 20px;
}

.summary-style {
  display: inline-block;
  margin-left: 5px;
}

.summary-style:before {
  content: '► ';
  font-size: 16px;
  display: inline-block;
  margin-top: 1px;
  margin-right: -1px;
  width: 20px;
}

.no-details details.open summary:focus,
.no-details details .detail-content details.open summary:focus {
  outline: 3px solid $yellow;
}
.no-details details.open summary:before,
.no-details details .detail-content details.open summary:before,
.summary-style.open:before {
  content: '▼ ';
}
.no-details .open p,
.no-js details p,
.no-details .open .detail-content,
.no-details details .detail-content .open .detail-content,
.no-js details .detail-content, {
  display: block;
}

.summary-box {
  background: $white;
  color: $black;
  font-size: 16px;
  margin-top: 10px;
  padding: 20px;
  @include media(tablet) {
    font-size: 19px;
  }
  .heading-medium {
    margin-top: 10px;
  }
}

.summary-close {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding: $gutter-half $gutter-half $gutter-half 0;
  &:before {
    content: "\00d7";
    display: inline-block;
    font-size: 26px;
    line-height: 22px;
    margin-right: 4px;
    vertical-align: top;
  }
}

.success-banner {
  background: $turquoise;
  color: $white;
  margin-bottom: $gutter;
  padding: $gutter-half;
  text-align: center;
  width: 100%;
  @include media(tablet) {
    padding: $gutter;
  }
}

.mob-collpanel-trigger {
  @media (max-width: 640px) {
    &:after {
      content: " \25BC";
      display: inline-block;
      font-size: 12px;
      height: 14px;
      padding-left: 10px;
      vertical-align: middle;
    }
    &.triggered {
      &:after {
        content: " \25B2";
      }
    }
  }
}

.mob-collpanel {
  @media (max-width: 640px) {
    &.panel-open {
      display: block;
    }
  }
}

.collpanel-trigger {
  cursor: pointer;
  &:after {
    content: " \25BC";
    display: inline-block;
    font-size: 12px;
    height: 14px;
    padding-left: 10px;
    vertical-align: middle;
  }
  &.triggered {
    &:after {
      content: " \25B2";
    }
  }
}

.collpanel {
  &.panel-open {
    display: block;
  }
  @media print {
    display: block;
  }
}

.no-js .hover-link:hover {
  .hidden {
    display: block;
    visibility: visible;
  }
}

.no-js .nojs-hoverhelp {
  position: absolute;
  top: 0; right: 0;
  width: 90px; height: 50px;
}

.hover-link {
  position: relative;
}

.floating-panel {
  background: $white;
  border: 3px solid $grey-2;
  color: $black;
  padding: $gutter-half;
  position: absolute;
  top: 1.95em; right: 0;
  width: 250px;
  z-index: 10;
  .scrolling-panel {
    max-height: 300px;
  }
}

.hover-link__close {
  padding: 3px;
  position: absolute;
  top: 10px; right: 10px;
}

.modal-overlay {
  background: rgba(black,0.5);
  position: fixed;
  top: 0; left: 0;
  bottom: 0; right: 0;
}

.modal-dialog {
  background: $white;
  border: 2px solid $grey-4;
  margin-left: -30%;
  margin-top: -125px;
  padding: $gutter-half;
  position: fixed;
  top: 50%; left: 50%;
  width: 60%; height: 250px;
  @media screen and (max-width: 640px) {
    margin: 0;
    top: 10%; left: 5%;
    width: 90%; height: 80%;
  }
}

.modal-header {
  color: $white;
  margin-bottom: $gutter-half;
  padding: $gutter-half;
}

// ---- Tags for apprenticeship status

%apprenticeship-tag {
  border: 2px solid $black;
  color: $black;
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
  padding: 0;
  text-align: center;
  width: 100%;
}

.tag-live, .tag-success {
  @extend %apprenticeship-tag;
  border-color: darken($success-colour, 7%);
  color: darken($success-colour, 7%);
}

.tag-pending, .tag-inprogress {
  @extend %apprenticeship-tag;
  border-color: darken($warning-colour, 10%);
  color: darken($warning-colour, 17%);
}

.tag-draft, .tag-newapplication {
  @extend %apprenticeship-tag;
  border-color: $grey-1;
  color: $grey-1;
}

.tag-rejected {
  @extend %apprenticeship-tag;
  border-color: darken($error-colour, 10%);
  color: darken($error-colour, 10%);
}

.tag-submitted, .tag-nostatus {
  @extend %apprenticeship-tag;
}

//---- Message box for communications in recruitment home

.message-box__icon {
  color: $grey-2;
  font-size: 14px;
}

//---- Add section panels, these are the dashed panels

.add-section {
  outline: 2px dashed $grey-2;
  display: block;
  margin-bottom: $gutter;
  padding: 5px;
  position: relative;
  text-align: center;
  &:hover {
    background-color: $grey-4;
  }
}

.add-section-title {
  &:after {
    content: '\f067';
    display: inline-block;
    font-family: 'FontAwesome';
    font-size: 1.2em;
    margin-left: 10px;
    vertical-align: middle;
  }
  .grid-1-3 & {
    &:after {
      position: absolute;
      top: 3px; right: 10px;
    }
  }
}

.add-section-small {
  padding: 5px;
}

.add-section-medium {
  padding-top: 30px;
  padding-bottom: 30px;
}

.add-section-large {
  padding-top: 120px;
  padding-bottom: 120px;
}

.edit-wrapper {
  .edit-link {
    visibility: hidden;
  }
}

.edit-wrapper:hover {
  background: $grey-4;
  outline: 2px dashed $grey-2;
  .edit-link {
    visibility: visible;
    margin: 2px 4px;
  }
}
