// Tables
// ==========================================================================

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: $gutter-half;
  width: 100%;
  th, td {
    @include core-14;
    border-bottom: 1px solid $border-colour;
    color: #0b0c0c;
    padding: 10px 20px 10px 0;
    text-align: left;
    vertical-align: top;
    .form-label, .form-hint {
      font-size: inherit;
    }
    @include media(tablet) {
      @include core-16;
    }
  }
  th {
    font-weight: 700;
  }
  @include media(tablet) {
    margin-bottom: $gutter;
  }
  &.vert-middle {
    td {
      vertical-align: middle;
    }
  }
  a, .fake-link {
    @media only (max-width: 400px) {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}

.responsive-table {
  overflow-x: scroll;
}

.date-table {
  overflow: hidden;
  th, td {
    border: 1px solid $grey-1;
    font-size: 12px;
    padding: 5px;
  }
  tr:nth-child(odd) {
    background: $grey-3;
  }
  .grid-wrapper {
    padding: 0;
    .grid:first-child {
      border-right: 1px solid $grey-1;
    }
  }
  .bank-holiday {
    position: relative;
  }
  .bank-holiday:after {
    content: "";
    position: absolute;
    background-color: #ffa;
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    opacity: 0.5;
  }
}

.day-confirmed, .day-tentative, .day-no-go {
  padding: 5px;
  text-align: center;
}

.day-confirmed {
  background: $turquoise-50;
}
.day-tentative {
  background: $orange-50;
}
.day-no-go {
  background: $red-50;
}

.rotatedtext {
  display: inline-block;
  -moz-transform: rotate(-90.0deg);
  transform: rotate(-90.0deg);
  position: absolute;
  top: 50%; left: -25px;
  margin-top: -10px;
  text-align: center;
  width: 80px; height: 20px;
}

.week-selector {
  .week-prev {
    text-align: left;
  }
  .week-middle {
    text-align: center;
  }
  .week-next {
    text-align: right;
  }
}

.schedule-table {
  overflow: hidden;
  th, td {
    border: none;
    padding: 5px;
  }
  th {
    border: 1px solid $grey-1;
    padding: 5px 10px;
  }
  thead {
    background: $grey-3;
  }
  .half-day-title {
    background: $grey-3;
    border: 1px solid $grey-1;
    font-weight: bold;
    position: relative;
    max-width: 10px;
  }
  .half-day:nth-of-type(1) {
    border-bottom: 3px solid $grey-1;
    tr:last-of-type td {
      padding-bottom: 10px;
    }
  }
  .half-day:nth-of-type(2) {
    tr:first-of-type td {
      padding-top: 10px;
    }
  }
  .empty-slot {
    border: 1px dashed darken($grey-2, 15%);
  }
  .button-extractcol {
    width: 100%;
  }
  .confirmed-text {
    color: $grey-1;
  }
}

.empty-slot, .booked-slot, .unconfirmed-slot {
  padding: 2px 10px;
  .slot-action {
    display: block;
  }
}

.booked-slot {
  background: lighten($turquoise-50, 15%);
  border: 1px solid $turquoise;
}

.unconfirmed-slot {
  background: lighten($orange-50, 15%);
  border: 1px solid $orange;
}

@keyframes fadeConfirmed {
  0%   { background-color: lighten($turquoise-50, 15%); }
  50%  { background-color: $turquoise; }
  100% { background-color: lighten($turquoise-50, 15%); }
}

.animate-booked-slot {
  animation: fadeConfirmed 3s ease-in-out;
}

.table-compound {
  margin-bottom: 0;
}

.ta-center {
  text-align: center;
}
.ta-left {
  text-align: left;
}
.ta-right, .numeric {
  text-align: right;
}

.ta-left-mob {
  @media screen and (max-width: 640px) {
    text-align: left;
  }
}

.va-middle, .va-middle th, .va-middle td {
  vertical-align: middle;
}

.no-wrap {
  white-space: nowrap;
}

.table-no-btm-border,
.no-btm-border {
  td, th {
    border-bottom: none;
  }
}

.tbody-expandrows {
  display: none;
  .fake-link {
    padding: 8px 0;
  }
}

.no-js {
  .tbody-expandrows {
    display: none;
  }
}

.display-table {
  display: table;
}

.display-table__row {
  display: table-row;
}

.display-table__cell {
  display: table-cell;
  padding: 3px 7px;
}

.notification-pulltop {
  display: block;
  position: relative;
  width: 20px; height: 20px;
  .fa {
    position: absolute;
    top: 2px; left: 1px;
  }
}

/**
 * In the HTML above we see several `col` elements with classes whose numbers
 * represent a percentage width for that column. We leave one column free of a
 * class so that column can soak up the effects of any accidental breakage in
 * the table.
 */
.t2     { width: 2.5% }
.t5     { width: 5% }
.t10    { width:10% }
.t12    { width:12.5% }     /* 1/8 */
.t15    { width:15% }
.t19    { width:19% }
.t19-5    { width:19.5% }
.t20    { width:20% }
.t25    { width:25% }       /* 1/4 */
.t30    { width:30% }
.t33    { width:33.333% }   /* 1/3 */
.t35    { width:35% }
.t37    { width:37.5% }     /* 3/8 */
.t40    { width:40% }
.t45    { width:45% }
.t50    { width:50% }       /* 1/2 */
.t55    { width:55% }
.t60    { width:60% }
.t62    { width:62.5% }     /* 5/8 */
.t65    { width:65% }
.t66    { width:66.666% }   /* 2/3 */
.t70    { width:70% }
.t75    { width:75% }       /* 3/4*/
.t80    { width:80% }
.t85    { width:85% }
.t87    { width:87.5% }     /* 7/8 */
.t90    { width:90% }
.t95    { width:95% }


/* Background colour classes for table columns */

.t-error {
  background: $mellow-red-25;
}

.t-success {
  background: $turquoise-25;
}

