#main {
  background: $white;
  display: block;
  padding: $gutter 0;
  @extend %clearfix;
  @include media(tablet) {
    padding-top: $gutter * 2;
    padding-bottom: 90px;
  }
}

.content-container {
  margin: 0 auto;
  max-width: 1020px;
  padding: 0 15px;
  .admin-container & {
    max-width: 1200px;
  }
  @include media(tablet) {
    padding: 0 30px;
  }
  @media (max-width: 640px) {
    font-size: 16px;
    line-height: 1.25;
  }
}

aside {
  h2:first-child {
    margin-top: $gutter-half;
  }
}

.clearfix {
  @extend %clearfix;
}