.search-filter {
  @include media(tablet) {
    padding-right: $gutter;
  }
  .form-control {
    display: block;
    width: 100%;
  }
}

.search-results-wrapper {
  fieldset {
    float: none;
  }
}

.search-results {
  list-style: none;
  padding-left: 0;
}

.search-shortdesc {
  margin-bottom: 5px;
}

.search-results__item {
  margin: 0;
  // overflow: hidden;
  padding: 15px 0;
  &:first-child {
    padding-top: 0;
  }
}

.search-save {
  padding: 0 10px;
  text-align: right;
}

.save-trigger {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}
